*{
    margin: 0 auto;
    padding: 0;
    
}
main{
    max-width: 1320px;
}
section{
    margin: 60px 0px;
}
/* header styles */
header{
    background-image:  linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), 
                        url('../images/Banner Image.png') ;
    max-width:1320px; 
    height: 600px;
    text-align: center;
    align-content: center;
    color: white;
    margin-top: 50px;
    border-radius: 16px;
}
.header-content{
    max-width: 632px;
}
.banner-subtitle{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;

}

.banner-title{
    font-size: 4rem;
    font-weight: 800;
}

/* offer section styles */
.offer{
    text-align: center;
}
.offer-banner{
    margin: 48px 0;
}
.offer-title{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    
}
.offer-banner-subtitle{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.offer-banner-title{
    font-size: 48px;
    font-weight: 800;
    color: #070211;
}

.offer-image{
  width: 800px;
  height: 500px;

}

/* Hero Section Styles */
.hero{
    
    background-image: url('../images/Vectorrr.png');
    display: flex;
    align-items: center;
    gap: 40px;
    height:600px; 
}

.hero-column{
    width: 50%;
    padding: 20px;
    margin-left: 120px;
}
.hero-title{
    font-size: 4em;
    color: #FFFFFF;

}
.hero button{
    margin: 48px 32px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: transparent;
    border: none;
}
/* Event Section Styles */
.event {
    text-align: center;
    align-items: center;
    line-height: 2;
    color: #070211;
    font-size: 32px;
    background: linear-gradient(to bottom, rgba(245, 148, 148, 0.6), rgb(248, 4, 0, 0) );   
    height: 480px;
    padding: 100px 100px;
}

.event span{
    color: rgb(248, 4, 4);
}

.upcoming{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    
}
.upcoming-column-1{
    width: 33%;
}
.upcoming-left-subtitle {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;

}
.upcoming-left-title {
    color: #070211;
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 22px;
}
.upcoming-left-title {
    color: #070211;
    font-size: 48px;
    font-weight: bolder;
    margin: 16px 0 22px;
}

.upcoming-column-3 img{
    margin-top: 43px;
}

.upcoming-column-2{
    width: 33%;
    text-align: center;
}
.upcoming-column-2 img{
    /* display: inline-block; */
    border: 13px solid #FF0000;
    padding: 20px; /* space between border and image */
    border-radius: 50%; /* make it round */
    background: white;
    width: 300px;
    height: 300px /* optional inner padding color */
}

.upcoming-column-3{
    width: 33%;
}








/* Shared Styles */

.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.paragraph-1{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}
.paragraph-2{
    color: #070211;
    font-size: 18px;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn-secondary{
    margin: 48px 32px;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    background-color: #FF0000;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
}