*{
    margin: 0 auto;
    padding: 0;
    
}
main{
    max-width: 1320px;
}
section{
    margin: 60px 0px;
}
/* header styles */
header{
    background-image:  linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), 
                        url('../images/Banner Image.png') ;
    max-width:1320px; 
    height: 600px;
    text-align: center;
    align-content: center;
    color: white;
    margin-top: 50px;
    border-radius: 16px;
}
.header-content{
    max-width: 632px;
}
.banner-subtitle{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;

}

.banner-title{
    font-size: 4rem;
    font-weight: 800;
}

/* offer section styles */
.offer{
    text-align: center;
}
.offer-banner{
    margin: 48px 0;
}
.offer-title{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    
}
.offer-banner-subtitle{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}
.offer-banner-title{
    font-size: 48px;
    font-weight: 800;
    color: #070211;
}

.offer-image{
  width: 800px;
  height: 500px;

}
/* Shared Styles */

.merriweather-font> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}